<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Переадресация Телеграм</title>
    <meta name="description" content="Сервис для переадресации Телеграм позволяет обойти блокировку и дать рабочую ссылку на Телеграм аккаунт, канал или чат.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type=text/css href="/static/css/style.css">
    <link rel="icon" type="img/png" href="/static/img/favicon.png">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(57429748, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/57429748" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
</head>
<body>
    <main>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <a href="/"><h1>Переадресация Телеграм</h1></a>
                        <p>В апреле 2018 <a href="https://rkn.gov.ru" rel="nofollow">Роскомнадзор</a> заблокировал <a href="https://telegram.org/">Телеграм</a> и домен <b>t.me</b> на территории России, из-за чего ссылки на Телеграм из внешних источников перестали работать. С помощью <a href="/">сервиса переадресации</a>, вы можете поделиться рабочей ссылкой на свой аккаунт, канал или чат.</p>
                        <br>
                        <p>Ссылка вида <b><code>t.me/durov</code></b> превращается в <b><code>tgram.app/durov</code></b>. Нет необходимости использовать форму на главной странице, достаточно скопировать все что идет после <b><code>t.me/</code></b> и вставить в адресную сроку браузера после <b><code>tgram.app/</code></b>.</p>
                        <br/>
                        <p>При переходе по ссылке <b><code>tgram.app/durov</code></b> откроется страница с информацией о канале и автоматически предложит открыть прямую ссылку вида <b><code>tg://resolve?domain=durov</code></b> в приложении <a href="https://telegram.org/">Телеграм</a>, если оно установлено. Прямую ссылку вида <b><code>tg://resolve?domain=durov</code></b> удобно послать в мессенджере или по электронной почте, но в большинстве публичных сервисов, например Вконтакте, Фейсбуке или Инстаграме, такая ссылка работать не будет.</p>
                        <br/>
                        <p>Сервис работает с разными видами ссылок, например ссылка приглашения в группу <b><code>t.me/joinchat/abcdEFgH0-9xzY1986</code></b> превратится в <b><code>tgram.app/joinchat/abcdEFgH0-9xzY1986</code></b>, а затем в <b><code>tg://join?invite=abcdEFgH0-9xzY1986</code></b>.</p>
                        <br/>
                        <p>Сейчас сервис может обработать ссылку на профиль, канал, чат, бота, ссылку на приглашение в группу, ссылку на отдельную запись в канале, ссылку на mtproto-прокси и даже стикеры.</p>
                        <br/>
                        <p>Все вопросы и предложения принимаются на электронную почту <a href="mailto:info@tgram.app">info@tgram.app</a> или в телеграм <a href="tg://resolve?domain=lebster">@lebster</a>.</p>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
