<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Переадресация Telegram</title>
    <meta name="description" content="Переадресация Telegram, Переадресация Телеграм, Ссылка в Телеграм.">
    <meta name="author" content="Anton Lebedev">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type=text/css href="/static/css/materialize.min.css">
    <link rel=stylesheet type=text/css href="/static/css/custom.css">
    <link rel="icon" type="img/png" href="/static/img/favicon.png">
    <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(57429748, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/57429748" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
</head>
<body>
    <div>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1>Переадресация Telegram</h1>
                        <p>Сервис позволяет обойти блокировку и дать рабочую ссылку на Телеграм аккаунт, канал или чат.</p>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="col">
                    <form method="post">
                        <input type="text" name="url" id="url" class="form-control input-sm" placeholder="https://t.me/lebster" value="{{ source_url }}"/>
                        <input type="submit" value="Показать ссылку" class="waves-effect waves-light btn" />
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <a href="{{ redirect_url }}">{{ redirect_url }}</a>
                    {{ error }}
                </div>
            </div>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p class="grey-text">Чтобы связаться со мной, <a href="mailto:mailbox@lebster.me">напиши мне на электронную почту</a> или <a href="tg://resolve/?domain=lebster">отправь сообщение в телеграм</a>.</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
