<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Переадресация Телеграм</title>
    <meta name="description" content="Сервис для переадресации Телеграм позволяет обойти блокировку и дать рабочую ссылку на Телеграм аккаунт, канал или чат.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type=text/css href="/static/css/style.css">
    <link rel="icon" type="img/png" href="/static/img/favicon.png">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
    <main>
        <header class="section">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1>Переадресация Телеграм</h1>
                        <p>Сервис позволяет обойти блокировку и дать рабочую ссылку на Телеграм аккаунт, канал или чат.</p>
                    </div>
                </div>
            </div>
        </header>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <form method="post">
                            <input type="text" name="url" id="url" class="form-control" placeholder="https://t.me/durov" value="{{ source_url }}"/>
                            <input type="submit" value="Показать ссылку" class="waves-effect waves-light btn" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col">
                        {% if redirect_url %}
                        <p class="status-text tg-link grey lighten-5"><a href="{{ redirect_url }}">{{ redirect_url }}</a></p>
                        {% endif %}
                        {% if error %}
                        <p class="status-text red lighten-5">{{ error }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p><a href="https://tlg.sh" style="margin-right: 12px;">Хочу короткую ссылку</a> / <a href="/help" style="margin-left: 12px;">Как это работает?</a></p>
                    <br/>
                    <p class="grey-text">Чтобы связаться, напиши на&nbsp;электронную почту <a href="mailto:info@tgram.app">info@tgram.app</a> или в телеграм <a href="tg://resolve?domain=lebster">@lebster</a>.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
