<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% set page_title = profile_name if profile_name else 'Переадресация Телеграм' %}
    <title>{{ page_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type=text/css href="/static/css/style.css">
    <link rel="icon" type="img/png" href="/static/img/favicon.png">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(57429748, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/57429748" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
    {% set base_url = base_path if base_path else '' %}
    {% set profile_photo_base_path = '/files/img/' ~local_profile_image if local_profile_image %}
    {% set profile_photo = base_url ~profile_photo_base_path if profile_photo_base_path else profile_image if profile_image else '' %}
    <meta property="og:title" content="{{ profile_name if profile_name else '' }}">
    <meta property="og:image" content="{{ profile_photo }}">
    <meta property="og:site_name" content="Telegram">
    <meta property="og:description" content="{{ profile_status if profile_status else '' }}">
    <meta property="twitter:title" content="{{ profile_name if profile_name else '' }}">
    <meta property="twitter:image" content="{{ profile_photo }}">
    <meta property="twitter:site" content="@Telegram">
    <meta property="al:ios:app_store_id" content="686449807">
    <meta property="al:ios:app_name" content="Telegram Messenger">
    <meta property="al:ios:url" content="{{ location }}">
    <meta property="al:android:url" content="{{ location }}">
    <meta property="al:android:app_name" content="Telegram">
    <meta property="al:android:package" content="org.telegram.messenger">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@Telegram">
    <meta name="twitter:description" content="{{ profile_status if profile_status else '' }}">
    <meta name="twitter:app:name:iphone" content="Telegram Messenger">
    <meta name="twitter:app:id:iphone" content="686449807">
    <meta name="twitter:app:url:iphone" content="{{ location }}">
    <meta name="twitter:app:name:ipad" content="Telegram Messenger">
    <meta name="twitter:app:id:ipad" content="686449807">
    <meta name="twitter:app:url:ipad" content="{{ location }}">
    <meta name="twitter:app:name:googleplay" content="Telegram">
    <meta name="twitter:app:id:googleplay" content="org.telegram.messenger">
    <meta name="twitter:app:url:googleplay" content="{{ location }}">
</head>
<body>
    <main>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col s12 center">
                        <div>
                            <div class="tg-link">
                                <a href="https://telegram.org/" class="grey lighten-5 waves-effect waves-lights">Установи Телеграм</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="section">
            <div class="container info">
                <div class="row">
                    <div class="col s12 center">
                        {% if profile_photo %}
                        <img
                                src="{{ profile_photo_base_path if profile_photo_base_path else profile_photo }}"
                                class="circle avatar"
                                title="{{ profile_name if profile_name else profile_photo }}"
                                alt="{{ profile_name if profile_name else profile_photo }}"
                        />
                        {% endif %}

                        {% if profile_name %}
                        <h5>{{ profile_name }}</h5>
                        {% endif %}

                        {% set type = 'post' if message_text else 'channel' %}

                        {% if profile_extra and type == 'channel' %}
                        <p class="grey-text extra"><span class="badge">{{ profile_extra }}</span></p>
                        {% endif %}

                        {% if profile_status and type == 'channel' %}
                        <p class="black-text">{{ profile_status|replace("\n", "<br/>")|safe }}</p>
                        {% endif %}

                        {% if message_text %}
                        <div class="message black-text left-align">{{ message_text|replace("\n", "<br/>")|safe }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col s12 center">
                        {% if location %}
                            <script>
                                setTimeout(function() {
                                  window.location.replace("{{ location }}");
                                }, 500);
                            </script>
                            {%
                                set btn_text = 'Применить настройки прокси' if route_name and route_name == 'proxy'
                                    else 'Добавить стикеры' if route_name and route_name == 'addstickers'
                                    else 'Открыть в Телеграм'
                            %}
                            <p><a href='{{ location }}' class='waves-effect waves-light btn'>{{ btn_text|default('Открыть в Телеграм') }}</a></p>
                        {% else %}
                            <p>Указан неверный адрес.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="section">
        <div class="container">
            <div class="row">
                <div class="col s12 center">
                    <p class="grey-text">Чтобы сообщить о&nbsp;проблеме, <a href="mailto:info@tgram.app">напиши на&nbsp;электронную почту</a>.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
