<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Переадресация Телеграм</title>
    <meta name="description" content="Переадресация Telegram, Переадресация Телеграм, Ссылка в Телеграм.">
    <meta name="author" content="Anton Lebedev">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type=text/css href="/static/css/materialize.min.css">
    <link rel=stylesheet type=text/css href="/static/css/custom.css">
    <link rel="icon" type="img/png" href="/static/img/favicon.png">
    <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(57429748, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/57429748" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
</head>
<body>
    <div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="https://telegram.org/">Установить Телеграм</a>
                    </div>
                </div>
            </div>
        </div>
        <header class="section">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <!---->
                        {% if profile_photo %}
                        <img src="/files/img/{{ profile_photo }}" />
                        {% endif %}
                        {% if profile_name %}
                        <h5>{{ profile_name }}</h5>
                        {% endif %}
                        {% if profile_status %}
                        <p class="grey-text">{{ profile_status }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col s12 center">
                        {% if location %}
                            <script>
                                setTimeout(function() {
                                  window.location.replace("{{ location }}");
                                }, 500);
                            </script>
                            <p><a href='{{ location }}' class='waves-effect waves-light btn'>Открыть в Телеграм</a></p>
                        {% else %}
                            <p>Указан неверный адрес.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
